body {
    font-family: 'Roboto Mono', monospace;
}

.box {
    padding: 10px;
    border-radius: 3px;
    margin: 5px;
}
.ram {
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 10px;
    width: min(30%, 400px);
    overflow-y: scroll;
    border: 2px solid #000;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    background-color: #CFF;
}
.ram table {
    background-color: #FFF;
}
.decode_unit {
    position: absolute;
    top: 20%;
    background-color: #FFC;
    border: 2px solid #000;
    padding: 10px;
    overflow-y: scroll;
    bottom: 0px;
    max-width: 50%;
}

.decode_unit table {
    background-color: #FFF;
}

#cpu {
    position: relative;
    height: 55em;
}

.cpu {
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    margin: 10px;
    width: min(50%, 650px);
    border: 2px solid #000;
    border-radius: 3px;
    background-color:#FCC;
    bottom: 0px;
}
.value {
    transition: all 0.5s;
}

.register {
    position: absolute;
    width: 30%;
    background-color: #FFF;
    border: 1px solid #000;
    text-align: center;
    z-index: 200;
}

#reg_pc {
    left: 20%;
    top: 10px;
}

#reg_mar {
    right: 10px;
    top: 10px;
}

#reg_acc {
    right: 10px;
    top: 15%;
}

#reg_mdr {
    right: 10px;
    top: 55%;
}

#reg_cir {
    right: 10px;
    top: 75%;
}

#alu,#cu {
    position: absolute;
    text-align: center;
    padding: 10px;
    display: block;
    width: 30%;
    border: 1px solid #000;
}

#alu {
    left: 50%;
    top: 35%;
    background-color: #9BF;
}

#cu {
    right: 10px;
    bottom: 10px;
    background-color: #6C5;
}

#drawing {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}
.edit-text {
    text-align: center;
}

.fetch_decode_execute {
    border-radius: 3px;
    padding: 3px;
    margin: 3px;
}

.hint_name {
    font-weight: bold;
    color: #C00;
}

.fetch {
    background-color: #F77;
}

.decode {
    background-color: #6F6;
}

.execute {
    background-color: #88F;
}

.active {
    outline-style: solid;
    outline-color: #f66;
    outline-width: 5px;
}

.current_instruction::after{
    content: " \f04b ";
    font-family: FontAwesome;
}

.form-group label {
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.wrapper {
    max-width: 1650px;
    margin: 0 auto;
    width: 100%;
}
